@charset "utf-8";
/* 全局设置  */
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height:100%;
}
body {
    background-color: #f6f6f6;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
}

a {
    text-decoration: none;
    color: #1aad19;
}

ul li {
    list-style-type: none;
}

.hidden {
    display: none !important;
}

/*文本格式控制*/
.text-center {
    text-align: center !important;
}

.task_step_item.text-center {
    margin-left: 24%;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-s {
    font-size: 12px !important;
}

.text-m {
    font-size: 14px !important;
}

.text-l {
    font-size: 16px !important;
}

.text-xl {
    font-size: 18px !important;
}

.text-xxl {
    font-size: 20px !important;
}

.text-xxxl {
    font-size: 36px !important;
}

.nowrap {
    white-space: nowrap !important;
}

/*文本两端对齐*/
.text-dq {
    text-align: justify !important;
}
/*让字体首行缩进*/
.text-indent {
    text-indent: 24px !important;
}

select, input {
    padding: 2px;
    border-radius: 5px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/*颜色控制*/
.white{
    color: white !important;
}
.green {
    color: #1aad19 !important;
}

.red {
    color: #db3a27 !important;
}

.orange {
    color: #FB6E22 !important;
}

.blue {
    color: #5aaadb !important;
}

.grey {
    color: #888 !important;
}

.golden {
    color: #FFD700 !important;
}
.black {
    color: #3b3c41 !important;
}

.purple {
    color: #FFCCFF !important;
}
.yellow {
    color: #fff400 !important;
}


.white-bg {
    background-color: white !important;
}

.grey-bg {
    background-color: #EAEAEA !important;
}

.dark-bg {
    background-color: #777 !important;
}

.blue-bg {
    background-color: #5aaadb !important;
}

.green-bg {
    background-color: #1aad19 !important;
}

.yellow-bg {
    background-color: #fff400 !important;
}

.orange-bg {
    background-color: #FD8331;
}


/*按钮色*/
/*设备页灰色按钮*/
.weui-btn_gray {
    background-color: #ADADAD;
    color: #F9F5F5;
}

.weui-btn_orange {
    background-color: #FB6E22;
    color: #F9F5F5;
}

.weui-btn_blue {
    background-color: #5aaadb;
    color: #F9F5F5;
}

.weui-btn_red {
    background-color: #BE0227;
}

.weui-btn_gold {
    background-color: #eac810;
}

.opacity50 {
    opacity: 0.5;
}




/*页面样式*/


/*无间距for cells*/
.margin_top_0 {
    margin-top: 0px;
}
/*无间距for cell*/
.padding_0 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.link-fix {
    margin: 0 5px;
    text-decoration: underline;
    font-weight: bold;
}

.padding-area {
    padding: 12px;
}

.padding-area-sm {
    padding: 8px;
}

.padding-area-notop {
    padding: 0px 8px;
}

.ui-header {
    background-color: #f9f9f9;
    color: #333;
    height: 44px;
    border-width: 0px 0px 1px 0px;
    border-color: #cccccc;
    opacity: 1;
}

.ui-content::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

/*任务列表*/
.task-list .task-name {
    font-size: 14px;
    text-align: left;
    color:#333;
}

.task-list .task-label {
    font-size: 10px;
    color: #999;
    margin: 7px 0px 0px 0px;
    font-weight: normal;
}

.task-list-left-f {
    width: 100%;
    min-width: 195px;
}

.task-tittle {
    margin-bottom: 8px;
    width: auto;
    font-size: 16px;
    color: #333;
}

.task-list .task-income {
    font-size: 14px;
    max-width: 138px;
    text-align: right;
}

.weui_cell_bd .task-list {
    padding: 10px 0px;
}

.task-list .task-income em {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #FB6E22;
}

.task-income-text {
    font-size: 10px;
    color: #888;
}

/*标签*/
.label {
    display: block;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .2em;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}
/*动画标签*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated-2.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-1px,0);
        transform: translate3d(0,-1px,0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -3px, 0);
        transform: translate3d(0, -3px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-1px,0);
        transform: translate3d(0,-1px,0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes flash {
    0% {
        opacity: 100;
    }

    40% {
        opacity: 100;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes flash {
    0% {
        opacity: 100;
    }

    40% {
        opacity: 100;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes bg-effect {
from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}

@keyframes bg-effect {
from { background-position: 0 0; }
 to { background-position: 100% 100%; }
}

.bg-effect {
    -webkit-animation-name: bg-effect;
    animation-name: bg-effect;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    background:-moz-linear-gradient(top, #eac810, #d6de3c);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#eac810), to(#d6de3c));  
    background:-o-linear-gradient(top, #eac810, #d6de3c); 
}

/*原页面文件上的样式*/
.btn-group-bottom {
    width: 100%;
    position: fixed;
    bottom: 60px;
    z-index: 1;
    padding: 0 10px;
}

/*遮罩层样式*/
.wxsharecover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20000;
}
.startcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20000;
}
.startcover-task {
    overflow-y: scroll;
    background: #fff;
    z-index: 998;
}
.wxsharecover-top-img {
    position: fixed;
    right: 18px;
    top: 5px;
    z-index: 999;
}

.top-offset {
    margin-top: 10px;
}

.ui-header, .ui-footer {
    border-width: 1px 0;
    border-style: solid;
    position: relative;
}

.ui-header-fixed {
    top: 0px;
    padding-top: 1px;
}

.ui-header-fixed, .ui-footer-fixed {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.weui-tabbar__icon {
    font-size: 22px;
    line-height: 26px;
}

.weui-tabbar__item.weui-bar__item--on{
    color: #04BE02;
}

/*修复weui bug*/
.weui-tabbar {
    position: fixed;
}
/*升级微信ui样式*/
.weui-panel:first-child {
    margin-top: 10px;
}
.weui-popup__modal {
    background-color:#fff;
    padding-bottom:100px;
}

.weui-btn {
    font-size: 14px;
    overflow: inherit;
    border-radius: 60px;
    line-height: 2.0;
}

.weui-btn:after {
    border-radius: 120px;
}

.weui-btn_squae.weui-btn:after {
    border-radius: 10px;
}

.weui-btn_mini {
    line-height: 1.8;
}


.weui-media-box__desc {
    text-overflow: inherit;
    overflow: inherit;
    display: inherit;
    line-height: 1.8;
}

.border-r img {
    border-radius: 3px;
}

.weui-cell__hd img {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 11px;
    margin-top: 2px;
}

.weui-btn.weui-btn_mini2 {
    width: auto;
    line-height: 1.9;
    font-size: 12px;
    padding: 0 .75em;
    display: inline-block;
}

.weui-btn.weui-btn_mini2l {
    width: auto;
    line-height: 1.9;
    font-size: 14px;
    padding: 0 .75em;
}

.weui-btn.weui-btn_mini3 {
    width: auto;
    line-height: 1.9;
    font-size: 12px;
    padding: 0 .75em;
}

.weui-btn.weui-btn_mini4 {
    width: auto;
    line-height: 1.0;
    font-size: 12px;
    padding: 1px 3px;
    display: inline-block;
}

pre, .txt-nowrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.txt-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.weui-panel__hd:after {
    content: "";
    border-bottom: 0px solid #fff;
}

.weui-panel__hd_icon {
    padding: 2px;
    margin-right: 10px;
}

/*fix weui样式*/
.weui-gallery{
    z-index:3000;
}
.weui-uploader__input{
    z-index:-1;
}

/*邀请页面*/
.invite_preview {
    padding: 0.6em 0.2em;
    margin: 20px;
    background-color: #fafafa;
    border-radius: 5px;
}

.weui-flex__item2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.weui-flex__item3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
}
/*步骤列表*/
.task_step {
    width:100%;
    border-bottom: 1px dashed #eee;
}
.task_step_nr {
    border-radius: 0px 110px 110px 0px;
    padding: 5px 10px 5px 6px;
    font-size: 12px;
    margin-right: 10px;
}
.weui-panel__hd2 {
    padding: 0px 15px 10px 62px;
    color: #999;
    font-size: 13px;
    position: relative;
    text-align:center;
}

.weui-panel__hd2.weui-panel__hd2_center {
    padding: 0px 15px 10px 23px;
}

.task_step_item {
    width: 40%;
    margin: 10px;
    float: left;
}
.task_step_item img {
    width: 100%;
}

.task_step_item_img_proof::after {
    content: "此步骤需上传";
    color: #fff;
    background-color: #f89594;
    /* border: 1px dashed #fff; */
    top: 40%;
    left: 76px;
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    opacity: 0.7;
    font-size: 15px;
    border-radius: 20px;
    float: left;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
}

.task_step_item_img {
    min-width: 50px;
    min-height: 50px;
    display: inline-block;
    vertical-align: middle;
    background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
    background-size: 20%;
    background-position-x:center;
    background-position-y:center;
}

.task_step_item_img_notproof::after {
    content: "示例图";
    color: #fff;
    background-color: #1aad19;
    /*border: 1px dashed #fff;*/
    left: -moz-calc(24% + 44px);
    left: -webkit-calc(24% + 44px);
    left: calc(24% + 44px);
    opacity: 0.7;
    font-size: 14px;
    border-radius: 0px 0px 10px 0px;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
}
